.App {
  text-align: center;
  max-width: 60rem;
  width: 80%;
  margin: 2rem auto;
}

.weather-desc {
  font-size: 1.2rem;
}

.temp-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.temp {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(255, 167, 66);
}

.unit {
  position: absolute;
  font-size: 1.5rem;
  color: rgb(255, 167, 66);
  line-height: 2.2;
}

.location-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.location-btn {
  background-color: rgb(65, 65, 65);
  font-size: 1rem;
  display: block;
  border: none;
  padding: 5px;
  text-align: center;
  width: 100%;
  /*input has OS specific font-family*/
  color: rgb(144, 220, 255);
  cursor: pointer;
}

.location-btn:hover {
  background-color: rgb(41, 41, 41);
}

.forcast {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.search-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box {
  margin-top: 15px;
}

.search-input {
  font-size: 1.2rem;
  text-align: center;
  background-color: #999;
  border: none;
  color: rgb(253, 253, 253);
}
